.grid-container {
	width: 100%;
	height: 560px;	
	display: grid;
	margin: 0 auto;
	margin-top: 17px;	
	grid-template-columns: auto auto auto;
	grid-column-gap: 65px;
	grid-row-gap: 37px;
}

.item-content {
	width: 300px;
	height: 261px;	
	display: grid;
	align-content: space-between;
	font-size: 18px;
	line-height: 19px;
	color: var(--main-white-color);
	text-align: center;
	text-decoration: none;
}

.grid-item {
	width: 100%;
	height: 220px;
	position: relative;
}

.grid-img1 {
	background: url(../img/grid-photo1.png);}

.grid-img2 {
	background: url(../img/grid-photo2.png);
}
.grid-img3 {
	background: url(../img/grid-photo3.png);}

.grid-img4 {
	background: url(../img/grid-photo4.png);
}
.grid-img5 {
	background: url(../img/grid-photo5.png);}

.grid-img6 {
	background: url(../img/grid-photo6.png);
}

.panel-wrapper {
	display: none;
	/* display: block; */
	width: 100%;
	height: 55px;
	background: var(--main-active-color);
	position: absolute;
	bottom: 0;
	text-decoration: none;
}

.coast-item {
	position: absolute;
	top: 9px;
	left: 16px;
	font-size: 10px;
	line-height: 10px;
	color: var(--main-white-color);
}

.details-item {
	display: flex;	
	align-items: center;
	padding: 26px 0 0 15px;
	font-size: 14px;
	line-height: 14px;
	color: var(--main-white-color);
	text-decoration: none;
	}

.details-item::before {
	content: "€50";
	margin-right: 132px;	
	font-size: 20px;
	line-height: 20px;
	
}

.details-item::after {	
	content: "";
	display: inline-block;
	width: 7px;
	height: 12px;
	margin-left: 20px;
	background: url(../img/arrow.svg);
	background-size: cover;
}

.grid-item:hover .panel-wrapper {
	display: block;
}

.grid-item:hover .picture-title {
	color: var(--main-active-color);
}