.header-container {
	width: 100%;
	height: 61px;	
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.logo-container{
	height: 51px;
	min-width: 155px;
	display: flex;
	justify-content: space-between;	
	font-weight: bold;
	font-size: 29px;
	line-height: 27px;
	color: var(--main-white-color);
	text-decoration: none;	
	text-transform: uppercase;
}

.logo-container:hover {
	color: var(--main-active-color);
}

.logo-img {
	height: 100%;
	width: 58px;
	background-image: url(../img/logo-img.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-container:hover .logo-img {
	background-image: url(../img/logo-img-orange.svg);
}

.logo-text-small{		
	font-size: 18px;
	line-height: 18px;	
}

.header-contacts a {
	display: block;
	padding: 10px 0;
	text-align: end;	
	font-size: 18px;
	line-height: 18px;
	color: var(--main-white-color);
	text-decoration: none;
}
.header-contacts a:hover {
	color: var(--main-active-color);
}