@import "header.css";
@import "grid-container.css";
@import "footer.css";
:root{
	--main-white-color: #FFFFFF;
	--main-active-color: #F26522;
}

body {
	width: 1030px;	
	margin: 0 auto;
	margin-top: 46px;	
	background-image: url(../img/background-img.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	
}



